---
ID: "6fdd2ef0-3107-4141-b858-57441c897c8b"
Parent: "be1e0ade-3425-437f-8ce9-fb6c7f58aa74"
Template: "dd22f1b3-bd87-4db2-9e7d-f7a496888d43"
Path: /sitecore/system/Modules/PowerShell/Script Library/Sitecore Flow/Sitecore Flow/Functions/LoadSettings
SharedFields:
- ID: "b1a94ff0-6897-47c0-9c51-aa6acb80b1f0"
  Hint: Script
  Value: |
    # 0.1 - Get Settings - Not found
    $settingsItem = Get-Settings
    if ($settingsItem -eq $null){
        Write-Log "[Sitecore Flow] You must setup your Settings item in the path /sitecore/system/Modules/Sitecore Flow/Settings" -Log Error
        Close-Window
    }
    
    # 0.2 - Get APIKey - No APIKey is set
    $apiKey = Get-FieldValue $settingsItem $SitecoreFlow_ApiKey_FieldName $null
    if ([string]::IsNullOrEmpty($apiKey) -eq $null){
        Write-Log "[Sitecore Flow] You must setup your 'API Key' at the Settings item in /sitecore/system/Modules/Sitecore Flow/Settings" -Log Error
        Close-Window
    }
    
    # 0.3 - Get Model - No Model is set
    $modelField = [Sitecore.Data.Fields.ReferenceField]$settingsItem.Fields[$SitecoreFlow_Model_FieldName]
    if ($modelField -eq $null){
        Write-Log "[Sitecore Flow] You must setup your 'Model' at the Settings item in /sitecore/system/Modules/Sitecore Flow/Settings" -Log Error
        Close-Window
    }
    $modelItem = $modelField.TargetItem
    if ($modelItem -eq $null){
        Write-Log "[Sitecore Flow] You must setup your 'Model' at the Settings item in /sitecore/system/Modules/Sitecore Flow/Settings" -Log Error
        Close-Window
    }
    $model = Get-FieldValue $modelItem $SitecoreFlow_ModelKey_FieldName $null
    if ($model -eq $null){
        Write-Log "[Sitecore Flow] You must setup your 'Model' at the Settings item in /sitecore/system/Modules/Sitecore Flow/Settings" -Log Error
        Close-Window
    }
Languages:
- Language: en
  Versions:
  - Version: 1
    Fields:
    - ID: "25bed78c-4957-4165-998a-ca1b52f67497"
      Hint: __Created
      Value: 20250308T051245Z
    - ID: "52807595-0f8f-4b20-8d2a-cb71d28c6103"
      Hint: __Owner
      Value: |
        sitecore\rpeplau
    - ID: "5dd74568-4d4b-44c1-b513-0af5f4cda34f"
      Hint: __Created by
      Value: |
        sitecore\rpeplau
    - ID: "8cdc337e-a112-42fb-bbb4-4143751e123f"
      Hint: __Revision
      Value: "0cb3a42b-9b1e-4fa4-8454-71b160b1355a"
    - ID: "badd9cf9-53e0-4d0c-bcc0-2d784c282f6a"
      Hint: __Updated by
      Value: |
        sitecore\rpeplau
    - ID: "d9cf14b1-fa16-4ba6-9288-e8a174d4d522"
      Hint: __Updated
      Value: 20250308T051306Z
